# 2 - EDA DATASET INFORMACION FINANCIERA DE LA SUPERINTENDENCIA

**AUTOR: Fabrizio Ramirez Cutimbo**

**OBJETIVO:**

+ Transformar y limpiar los dataset de "Información Financiera" que expone la Superintendencia de Compañías, Valores y Seguros del año 2022 y 2023.
---

In [1]:
import pandas as pd
import numpy as np

## PROCESAMIENTO Información Financiera 2023

### Cargar Dataset

In [2]:
file_path = "Datasets\\estadosFinancieros_2023\\balances_2023_1.txt"
# Lee el archivo usando el delimitador de tabulaciones
pd_dataset = pd.read_csv(file_path, delimiter='\t', dtype={'RUC': 'object', 'EXPEDIENTE': 'object'}, encoding='latin1')

C:\Users\fabrizio\AppData\Local\Temp\ipykernel_11208\876515244.py:3: DtypeWarning: Columns (16,17,18,19,20,21,23,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,43,44,45,46,47,48,49,50,51,52,53,54,55,57,58,59,60,61,64,65,66,67,69,70,71,72,73,74,75,76,78,80,81,82,83,84,85,86,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,105,106,107,108,109,110,111,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,144,147,151,152,155,164,165,166,172,176,180,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,204,206,207,208,209,212,213,214,215,216,217,218,219,220,221,222,224,225,226,227,228,229,230,231,232,234,235,236,237,240,241,242,245,246,253,258,261,264,265,266,267,274,284,285,287,290,291,292,293,294,296,297,298,299,300,301,302,303,304,305,306,308,310,313,316,317,318,319,322,326,327,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,356,357,358,359,360,362,365,366,367,368,369,370,373,374,375,376,377,378,382,387,388,390,391,392,394,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,421,423,424,425,426,427,428,429,430,431,434,435,443,445,447,448,449,450,454,455,456,459,460,461,462,466,467,473,476,483,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,505,506,507,508,509,510,526,536,537,538,539,540,542,543,544,545,546,547,548,550,551,552,553,554,555,561,562,566,567,569,570,571,572,573,574,575,576,577,578,579,581,582,583,587,588,590,591,592,593,594,595,598,608,609,611,616,617,618,619,620,621,622,623,624,625,628) have mixed types. Specify dtype option on import or set low_memory=False.
  pd_dataset = pd.read_csv(file_path, delimiter='\t', dtype={'RUC': 'object', 'EXPEDIENTE': 'object'}, encoding='latin1')

### Forma, Columnas y Datos Generales

In [3]:
pd_dataset.sample(1)

,AÑO,EXPEDIENTE,RUC,NOMBRE,RAMA_ACTIVIDAD,DESCRIPCION_RAMA,CIIU,CUENTA_1,CUENTA_101,CUENTA_10101,...,CUENTA_80004,CUENTA_80005,CUENTA_80006,CUENTA_80007,CUENTA_80008,CUENTA_80009,CUENTA_801,CUENTA_80101,CUENTA_80102,Unnamed: 629
112835,2023,737231,0993344516001,JURELEX S.A.S.,M,"ACTIVIDADES PROFESIONALES, CIENTÍFICAS Y TÉCNI...",M6910.01,"18633,73","18633,73","5908,24",...,0,0,0,0,0,0,0,0,0,NaN

In [4]:
print(f"Dimensiones del conjunto de datos: \n Filas: {pd_dataset.shape[0]}  \n Columnas: {pd_dataset.shape[1]}")

Dimensiones del conjunto de datos:
 Filas: 125515
 Columnas: 630

In [5]:
pd_dataset.columns

Index(['AÑO', 'EXPEDIENTE', 'RUC', 'NOMBRE', 'RAMA_ACTIVIDAD',
       'DESCRIPCION_RAMA', 'CIIU', 'CUENTA_1', 'CUENTA_101', 'CUENTA_10101',
       ...
       'CUENTA_80004', 'CUENTA_80005', 'CUENTA_80006', 'CUENTA_80007',
       'CUENTA_80008', 'CUENTA_80009', 'CUENTA_801', 'CUENTA_80101',
       'CUENTA_80102', 'Unnamed: 629'],
      dtype='object', length=630)

In [6]:
pd_dataset.isna().sum()

AÑO                    0
EXPEDIENTE             0
RUC                    1
NOMBRE                 0
RAMA_ACTIVIDAD        13
                   ...
CUENTA_80009           0
CUENTA_801             0
CUENTA_80101           0
CUENTA_80102           0
Unnamed: 629      125515
Length: 630, dtype: int64

In [7]:
pd_dataset.dtypes

AÑO                 int64
EXPEDIENTE         object
RUC                object
NOMBRE             object
RAMA_ACTIVIDAD     object
                   ...
CUENTA_80009       object
CUENTA_801         object
CUENTA_80101       object
CUENTA_80102       object
Unnamed: 629      float64
Length: 630, dtype: object

### Selección columnas de interés

In [8]:
pd_dataset_filtered = pd_dataset[['EXPEDIENTE', 'RUC',
                                  'CUENTA_1', 'CUENTA_101', 'CUENTA_10103', 'CUENTA_102',
                                  'CUENTA_2', 'CUENTA_201', 'CUENTA_202', 
                                  'CUENTA_3', 
                                  'CUENTA_401', 'CUENTA_402', 'CUENTA_403', 
                                  'CUENTA_501', 'CUENTA_502', 
                                  'CUENTA_600', 'CUENTA_602', 'CUENTA_603', 'CUENTA_607' ]]

In [9]:
pd_dataset_filtered.sample(1)

,EXPEDIENTE,RUC,CUENTA_1,CUENTA_101,CUENTA_10103,CUENTA_102,CUENTA_2,CUENTA_201,CUENTA_202,CUENTA_3,CUENTA_401,CUENTA_402,CUENTA_403,CUENTA_501,CUENTA_502,CUENTA_600,CUENTA_602,CUENTA_603,CUENTA_607
49543,303406,1792653673001,"95195,13","95154,64","12908,60","40,49","71400,19","71400,19",0,"23794,94","44921,65","21868,02","73,20","23053,63","44656,73","-22715,51","-22715,51",0,0

In [10]:
# Calcular el porcentaje de valores nulos por columna
pd_dataset_filtered.isnull().mean() * 100

EXPEDIENTE      0.000000
RUC             0.000797
CUENTA_1        0.000000
CUENTA_101      0.000000
CUENTA_10103    0.000000
CUENTA_102      0.000000
CUENTA_2        0.000000
CUENTA_201      0.000000
CUENTA_202      0.000000
CUENTA_3        0.000000
CUENTA_401      0.000000
CUENTA_402      0.000000
CUENTA_403      0.000000
CUENTA_501      0.000000
CUENTA_502      0.000000
CUENTA_600      0.000000
CUENTA_602      0.000000
CUENTA_603      0.000000
CUENTA_607      0.000000
dtype: float64

### Transformación a datos numéricos

In [11]:
num_columns = ['CUENTA_1', 'CUENTA_101', 'CUENTA_10103', 'CUENTA_102', 
                'CUENTA_2', 'CUENTA_201', 'CUENTA_202', 
                'CUENTA_3', 
                'CUENTA_401', 'CUENTA_402', 'CUENTA_403', 
                'CUENTA_501','CUENTA_502', 
                'CUENTA_600', 'CUENTA_602', 'CUENTA_603', 'CUENTA_607' ]

pd_dataset_filtered[num_columns] = pd_dataset_filtered[num_columns].apply(
    lambda col: pd.to_numeric(col.str.replace('.', '', regex=False).str.replace(',', '.', regex=False))
)

C:\Users\fabrizio\AppData\Local\Temp\ipykernel_11208\2160263808.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_dataset_filtered[num_columns] = pd_dataset_filtered[num_columns].apply(

In [12]:
pd_dataset_filtered.sample(1)

,EXPEDIENTE,RUC,CUENTA_1,CUENTA_101,CUENTA_10103,CUENTA_102,CUENTA_2,CUENTA_201,CUENTA_202,CUENTA_3,CUENTA_401,CUENTA_402,CUENTA_403,CUENTA_501,CUENTA_502,CUENTA_600,CUENTA_602,CUENTA_603,CUENTA_607
123055,750676,1793207409001,100.0,100.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Renombrar Columnas

In [13]:
diccionario_2023 = {
    'CUENTA_1': 'ACTIVO_2023',
    'CUENTA_101': 'ACTIVO_CORRIENTE_2023',
    'CUENTA_10103': 'INVENTARIOS_2023',
    'CUENTA_102': 'ACTIVOS_NO_CORRIENTES_2023',
    'CUENTA_2': 'PASIVO_2023',
    'CUENTA_201': 'PASIVO_CORRIENTE_2023',
    'CUENTA_202': 'PASIVO_NO_CORRIENTE_2023',
    'CUENTA_3': 'PATRIMONIO_NETO_2023',
    'CUENTA_401': 'INGRESOS_ACTIVIDADES_ORDINARIAS_2023',
    'CUENTA_402': 'GANANCIA_BRUTA_2023',
    'CUENTA_403': 'OTROS_INGRESOS_2023',
    'CUENTA_501': 'COSTO_VENTAS_PRODUCCION_2023',
    'CUENTA_502': 'GASTOS_2023',
    'CUENTA_600': 'UTILIDAD_OPERATIVA_2023',
    'CUENTA_603': 'IMPUESTO_RENTA_2023',
    'CUENTA_602': 'GANACIA_PERDIDA_ANTES_IR_2023',
    'CUENTA_607': 'UTILIDAD_NETA_2023'
    }

In [14]:
pd_dataset_filtered = pd_dataset_filtered.rename(columns=diccionario_2023)

In [15]:
pd_dataset_filtered.sample(1)

,EXPEDIENTE,RUC,ACTIVO_2023,ACTIVO_CORRIENTE_2023,INVENTARIOS_2023,ACTIVOS_NO_CORRIENTES_2023,PASIVO_2023,PASIVO_CORRIENTE_2023,PASIVO_NO_CORRIENTE_2023,PATRIMONIO_NETO_2023,INGRESOS_ACTIVIDADES_ORDINARIAS_2023,GANANCIA_BRUTA_2023,OTROS_INGRESOS_2023,COSTO_VENTAS_PRODUCCION_2023,GASTOS_2023,UTILIDAD_OPERATIVA_2023,GANACIA_PERDIDA_ANTES_IR_2023,IMPUESTO_RENTA_2023,UTILIDAD_NETA_2023
23110,123809,0992467045001,1637728.56,0.0,0.0,1637728.56,1275424.46,0.0,1275424.46,362304.1,0.0,0.0,714780.09,0.0,248514.43,466265.66,0.0,0.0,0.0

In [16]:
pd_dataset_filtered.dtypes

EXPEDIENTE                               object
RUC                                      object
ACTIVO_2023                             float64
ACTIVO_CORRIENTE_2023                   float64
INVENTARIOS_2023                        float64
ACTIVOS_NO_CORRIENTES_2023              float64
PASIVO_2023                             float64
PASIVO_CORRIENTE_2023                   float64
PASIVO_NO_CORRIENTE_2023                float64
PATRIMONIO_NETO_2023                    float64
INGRESOS_ACTIVIDADES_ORDINARIAS_2023    float64
GANANCIA_BRUTA_2023                     float64
OTROS_INGRESOS_2023                     float64
COSTO_VENTAS_PRODUCCION_2023            float64
GASTOS_2023                             float64
UTILIDAD_OPERATIVA_2023                 float64
GANACIA_PERDIDA_ANTES_IR_2023           float64
IMPUESTO_RENTA_2023                     float64
UTILIDAD_NETA_2023                      float64
dtype: object

### EDA

In [17]:
description = pd_dataset_filtered[['ACTIVO_2023', 'PASIVO_2023', 'PATRIMONIO_NETO_2023',
                                   'INGRESOS_ACTIVIDADES_ORDINARIAS_2023', 
                                   'COSTO_VENTAS_PRODUCCION_2023', 'GASTOS_2023',
                                   'UTILIDAD_OPERATIVA_2023', 'GANACIA_PERDIDA_ANTES_IR_2023', 'IMPUESTO_RENTA_2023', 'UTILIDAD_NETA_2023']].describe()

# Aplicar formato a los valores en el DataFrame de descripción
formatted_description = description.applymap(lambda x: f"{x:.2f}")
formatted_description

C:\Users\fabrizio\AppData\Local\Temp\ipykernel_11208\3611598044.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  formatted_description = description.applymap(lambda x: f"{x:.2f}")

,ACTIVO_2023,PASIVO_2023,PATRIMONIO_NETO_2023,INGRESOS_ACTIVIDADES_ORDINARIAS_2023,COSTO_VENTAS_PRODUCCION_2023,GASTOS_2023,UTILIDAD_OPERATIVA_2023,GANACIA_PERDIDA_ANTES_IR_2023,IMPUESTO_RENTA_2023,UTILIDAD_NETA_2023
count,125515.00,125515.00,125515.00,125515.00,125515.00,125515.00,125515.00,125515.00,125515.00,125515.00
mean,1342541.11,751513.33,590983.71,1226754.93,804415.56,349886.32,90412.58,2520066496.65,209152.38,615536.42
std,18302522.50,8926376.46,11319241.62,17395385.24,12997022.59,4520018.87,2771655.75,660762694932.32,67495745.09,202489054.55
min,0.00,0.00,-237703354.58,0.00,0.00,0.00,-66586053.00,-66586053.00,0.00,-66586053.00
25%,1001.58,0.00,800.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,25874.52,8500.81,4994.01,12658.89,0.00,8394.60,0.00,0.00,0.00,0.00
75%,222612.84,120384.93,58366.76,194956.93,19229.04,97132.07,6766.81,2041.38,375.86,8.46
max,2564376140.55,778408645.99,1785967494.56,2483015099.25,1817217513.45,700779280.41,527655725.85,207032575000039.00,23911794125.00,71735382375.00

### Revisión casos puntuales 2023

In [18]:
pd_dataset_if_2023 = pd_dataset_filtered.copy()

In [19]:
# 14272  1792701341001  90.262597  -13.776378
# 26976  0993261068001  31.702556  219.933084
# 29587  0993372222001  16.300589   41.626631
# 9801   0992735120001  11.958218   82.614101
# 18806  0993261068001  28.606353  181.455280
# 20552  0993372222001  14.541973   34.095984
# 7313   0992735120001  10.800392   68.133014

pd_dataset_if_2023[pd_dataset_if_2023['RUC']=='1391932908001']

Empty DataFrame
Columns: [EXPEDIENTE, RUC, ACTIVO_2023, ACTIVO_CORRIENTE_2023, INVENTARIOS_2023, ACTIVOS_NO_CORRIENTES_2023, PASIVO_2023, PASIVO_CORRIENTE_2023, PASIVO_NO_CORRIENTE_2023, PATRIMONIO_NETO_2023, INGRESOS_ACTIVIDADES_ORDINARIAS_2023, GANANCIA_BRUTA_2023, OTROS_INGRESOS_2023, COSTO_VENTAS_PRODUCCION_2023, GASTOS_2023, UTILIDAD_OPERATIVA_2023, GANACIA_PERDIDA_ANTES_IR_2023, IMPUESTO_RENTA_2023, UTILIDAD_NETA_2023]
Index: []

### Exportar Dataset 2023

In [20]:
print(f"Dimensiones final del conjunto de datos: \n Filas: {pd_dataset_if_2023.shape[0]}  \n Columnas: {pd_dataset_if_2023.shape[1]}")

pd_dataset_if_2023.to_csv('Datasets Procesados/informacion_financiera_2023.csv', index=False)

Dimensiones final del conjunto de datos:
 Filas: 125515
 Columnas: 19

## PROCESAMIENTO Información Financiera 2022

### Cargar y Procesamiento Dataset

In [21]:
file_path = "Datasets\\estadosFinancieros_2022\\balances_2022_1.txt"
pd_dataset = pd.read_csv(file_path, dtype={'RUC': 'object', 'EXPEDIENTE': 'object'}, delimiter='\t', encoding='latin1')

C:\Users\fabrizio\AppData\Local\Temp\ipykernel_11208\2123299058.py:2: DtypeWarning: Columns (14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,80,81,82,83,84,85,86,87,88,89,90,92,93,94,95,96,97,98,99,101,102,103,104,105,106,107,108,109,110,111,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,141,143,144,145,146,147,149,151,152,153,155,158,164,165,166,176,180,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,204,205,206,207,208,209,212,213,214,215,216,217,218,219,220,221,222,224,225,226,227,228,229,230,231,232,233,235,236,237,240,241,242,245,246,253,255,258,261,262,263,264,265,266,267,272,274,280,283,284,285,286,287,290,291,293,296,297,298,299,300,301,302,303,304,305,306,308,310,313,314,315,316,317,318,319,321,322,326,327,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,356,357,358,359,360,362,365,366,367,368,369,370,374,375,376,377,378,382,387,388,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,421,422,423,424,425,426,427,428,429,430,431,434,435,439,441,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,465,466,467,473,475,476,477,478,480,482,483,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,512,514,515,516,517,518,519,520,522,523,524,525,526,527,528,529,530,532,536,537,538,539,540,541,542,543,544,545,546,547,548,550,551,552,553,554,555,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,586,587,588,589,590,591,592,593,594,595,598,605,606,608,609,614,616,617,618,619,620,621,622,623,624,625,628) have mixed types. Specify dtype option on import or set low_memory=False.
  pd_dataset = pd.read_csv(file_path, dtype={'RUC': 'object', 'EXPEDIENTE': 'object'}, delimiter='\t', encoding='latin1')

In [22]:
pd_dataset_filtered = pd_dataset[['EXPEDIENTE', 'RUC', 
                                  'CUENTA_1', 'CUENTA_101', 'CUENTA_10103', 'CUENTA_102',
                                  'CUENTA_2', 'CUENTA_201', 'CUENTA_202', 
                                  'CUENTA_3', 
                                  'CUENTA_401', 'CUENTA_402', 'CUENTA_403', 
                                  'CUENTA_501','CUENTA_502', 
                                  'CUENTA_600', 'CUENTA_602', 'CUENTA_603', 'CUENTA_607' ]]

In [23]:
num_columns = ['CUENTA_1', 'CUENTA_101', 'CUENTA_10103', 'CUENTA_102', 
               'CUENTA_2', 'CUENTA_201', 'CUENTA_202', 
               'CUENTA_3', 
                'CUENTA_401', 'CUENTA_402', 'CUENTA_403', 
                'CUENTA_501', 'CUENTA_502', 
                'CUENTA_600','CUENTA_602', 'CUENTA_603', 'CUENTA_607' ]

pd_dataset_filtered[num_columns] = pd_dataset_filtered[num_columns].apply(
    lambda col: pd.to_numeric(col.str.replace('.', '', regex=False).str.replace(',', '.', regex=False))
)

C:\Users\fabrizio\AppData\Local\Temp\ipykernel_11208\2166610538.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_dataset_filtered[num_columns] = pd_dataset_filtered[num_columns].apply(

In [24]:
diccionario_2022 = {
    'CUENTA_1': 'ACTIVO_2022',
    'CUENTA_101': 'ACTIVO_CORRIENTE_2022',
    'CUENTA_10103': 'INVENTARIOS_2022',
    'CUENTA_102': 'ACTIVOS_NO_CORRIENTES_2022',
    'CUENTA_2': 'PASIVO_2022',
    'CUENTA_201': 'PASIVO_CORRIENTE_2022',
    'CUENTA_202': 'PASIVO_NO_CORRIENTE_2022',
    'CUENTA_3': 'PATRIMONIO_NETO_2022',
    'CUENTA_401': 'INGRESOS_ACTIVIDADES_ORDINARIAS_2022',
    'CUENTA_402': 'GANANCIA_BRUTA_2022',
    'CUENTA_403': 'OTROS_INGRESOS_2022',
    'CUENTA_501': 'COSTO_VENTAS_PRODUCCION_2022',
    'CUENTA_502': 'GASTOS_2022',    
    'CUENTA_600': 'UTILIDAD_OPERATIVA_2022',
    'CUENTA_602': 'GANACIA_PERDIDA_ANTES_IR_2022',
    'CUENTA_603': 'IMPUESTO_RENTA_2022',
    'CUENTA_607': 'UTILIDAD_NETA_2022'
    }

In [25]:
pd_dataset_filtered = pd_dataset_filtered.rename(columns=diccionario_2022)

In [26]:
pd_dataset_if_2022 = pd_dataset_filtered.copy()

### Exportar Dataset 2022

In [27]:
print(f"Dimensiones final del conjunto de datos: \n Filas: {pd_dataset_if_2022.shape[0]}  \n Columnas: {pd_dataset_if_2022.shape[1]}")
pd_dataset_if_2022.to_csv('Datasets Procesados/informacion_financiera_2022.csv', index=False)

Dimensiones final del conjunto de datos:
 Filas: 119126
 Columnas: 19

### Revisión de casos particulares 2022

In [28]:
# 14272  1792701341001  90.262597  -13.776378
# 26976  0993261068001  31.702556  219.933084
# 29587  0993372222001  16.300589   41.626631
# 9801   0992735120001  11.958218   82.614101
# 18806  0993261068001  28.606353  181.455280
# 20552  0993372222001  14.541973   34.095984
# 7313   0992735120001  10.800392   68.133014

pd_dataset_if_2022[pd_dataset_if_2022['RUC']=='1391932908001']
# Se detectan empresas que registran INGRESOS pero no EGRESOS ni impuesto a la renta.

,EXPEDIENTE,RUC,ACTIVO_2022,ACTIVO_CORRIENTE_2022,INVENTARIOS_2022,ACTIVOS_NO_CORRIENTES_2022,PASIVO_2022,PASIVO_CORRIENTE_2022,PASIVO_NO_CORRIENTE_2022,PATRIMONIO_NETO_2022,INGRESOS_ACTIVIDADES_ORDINARIAS_2022,GANANCIA_BRUTA_2022,OTROS_INGRESOS_2022,COSTO_VENTAS_PRODUCCION_2022,GASTOS_2022,UTILIDAD_OPERATIVA_2022,GANACIA_PERDIDA_ANTES_IR_2022,IMPUESTO_RENTA_2022,UTILIDAD_NETA_2022
78787,338016,1391932908001,10.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0